$menu-background: #fff;
$menu-background-focus: #ddd;
$menu-background-hover: cornflowerblue;
$menu-border: #ccc;
$menu-shadow: rgba(60, 64, 67, .15);
$menu-text-hover: white;
$menu-z-index: 100;
$separator-border: rgb(218, 220, 224);

// display menubar as row flex so that root menus are placed one after another
ul.reactAppMenubar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;
}

// menu separator have a 1px border
.reactAppMenubar--menu-separator {
  border-bottom: 1px solid $separator-border;
}

// place submenus relative to menu
li.reactAppMenubar--menu {
  position: relative;
  outline: none;
}

// style menus and hide them by default
ul.reactAppMenubar--menu--submenus {
  display: none;
  position: absolute;
  z-index: $menu-z-index;
  list-style: none;
  padding: 0 ;
  margin: 0;
  background: $menu-background;
  border: 1px solid $menu-border;
  box-shadow: 0 2px 6px 2px $menu-shadow;
  border-radius: 4px;
}

//place submenus to the right
.reactAppMenubar--menu:not(.reactAppMenubar--menu-root) > .reactAppMenubar--menu--submenus {
  top: 0;
  left: 100%;
}

// highlight menus on hover
.reactAppMenubar--menu:hover:not(.reactAppMenubar--menu-root):not(.reactAppMenubar--menu-isDisabled) > .reactAppMenubar--menu--labelContainer {
  background: $menu-background-hover;
  color: $menu-text-hover;
}

//when a menu is focussed, it submenus should be displayed
.reactAppMenubar--menu:focus-within > .reactAppMenubar--menu--submenus {
  display: block;
}

//when a menu is hovered and the menubar is hoverable its submenus should be displayed
.reactAppMenubar-isHoverable .reactAppMenubar--menu:hover:not(.reactAppMenubar--menu-root):not(.reactAppMenubar--menu-isDisabled) > .reactAppMenubar--menu--submenus {
  display: block;
  z-index: $menu-z-index + 1;
}

// when a menu or its submenus has focus, it's background should be changed
.reactAppMenubar--menu:focus-within > .reactAppMenubar--menu--labelContainer {
  background: $menu-background-focus;
}

// when a root menu or its submenus has focus, it should be diplayed in hovered color
.reactAppMenubar--menu-root:focus-within > .reactAppMenubar--menu--labelContainer {
  background: $menu-background-hover;
  color: $menu-text-hover;
}

// Gray out disabled items
// not setting pointer-event: none so that focus is not lost when clicking a disabled item
.reactAppMenubar--menu-isDisabled > .reactAppMenubar--menu--labelContainer {
  opacity: .5;
}

//----------------- menu labels ------------------------------------------------
.reactAppMenubar--menu--labelContainer {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  cursor: default;
  padding: 4px 6px;
}

.reactAppMenubar--menu:not(.reactAppMenubar--menu-root) > .reactAppMenubar--menu--labelContainer {
  min-width: 150px;
}

.reactAppMenubar--menu--icon {
  display: flex;
  align-items: center;
  height: 16px;
  width: 16px;
}

.reactAppMenubar--menu--icon-root {
  height: 12px;
  width: 12px;
  margin-right: 4px;
}

.reactAppMenubar--menu--icon-left {
  margin-right: 8px;
}

.reactAppMenubar--menu--icon-right {
  margin-left: 8px;
}


.reactAppMenubar--menu--label {
  flex-grow: 1;
}

.reactAppMenubar--menu:not(.reactAppMenubar--menu-root) > .reactAppMenubar--menu--labelContainer > .reactAppMenubar--menu--label {
  //margin-left: 10px;
  margin-right: 20px;
}

.reactAppMenubar--menu--label-em {
  text-decoration: underline;
}

.reactAppMenubar--menu--hotKeys {
  margin-left: 4px;
  font-size: .8em;
  margin-right: 4px;
  font-style: oblique;
}

.reactAppMenubar--menu--hotKeys-disabled {
  opacity: .4;
}
.reactAppMenubar--menu--hotKeys-invisible {
  opacity: 0 !important;
}

@import "react-app-menu-ie-polyfill";