$prefix: --reactAppMenu;
$menu-background: #fff;
$menu-background-focus: rgba(#2675BF, .86);
$menu-text-focus: #FDFDFD;
$menu-background-hover: rgb(226, 239, 248);
$menu-text-hover: inherit;
$menu-border: #999;
$menu-shadow: rgba(60, 64, 67, .45);
$menu-z-index: 100;
$separator-border: rgb(218, 220, 224);
$menu-border-radius: 0;
$menu-shadow: 2px 2px 6px $menu-shadow;
$menu-minWidth: 150px;


// display menubar as row flex so that root menus are placed one after another
ul.reactAppMenubar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;
  outline: none;
}

// menu separator have a 1px border
.reactAppMenubar--menu-separator {
  border-bottom: 1px solid var(#{$prefix}-color-separator, #{$separator-border});
}

// place submenus relative to menu
li.reactAppMenubar--menu {
  position: relative;
  outline: none;
}

// style menus and hide them by default
ul.reactAppMenubar--menu--submenus {
  display: none;
  position: absolute;
  z-index: $menu-z-index;
  list-style: none;
  padding: 0;
  margin: 0;
  background: var(#{$prefix}-color-bg, #{$menu-background});
  border: 1px solid var(#{$prefix}-color-border, #{$menu-border});
  box-shadow: var(#{$prefix}-shadow, #{$menu-shadow});
  border-radius: var(#{$prefix}-border-radius, #{$menu-border-radius});
}

//place submenus to the right
.reactAppMenubar--menu:not(.reactAppMenubar--menu-root) > .reactAppMenubar--menu--submenus {
  top: 0;
  left: calc(100% - 1px);
}

// highlight menus on hover
.reactAppMenubar--menu:hover:not(.reactAppMenubar--menu-root):not(.reactAppMenubar--menu-isDisabled):not(:focus-within) > .reactAppMenubar--menu--labelContainer {
  background: var(#{$prefix}-color-bg-hover, #{$menu-background-hover});
  color: var(#{$prefix}-color-text-hover, #{$menu-text-hover});
}

//when a menu is focussed, it submenus should be displayed
.reactAppMenubar--menu:focus-within > .reactAppMenubar--menu--submenus {
  display: block;
}

//when a menu is hovered and the menubar is hoverable its submenus should be displayed
.reactAppMenubar-isHoverable .reactAppMenubar--menu:hover:not(.reactAppMenubar--menu-root):not(.reactAppMenubar--menu-isDisabled) > .reactAppMenubar--menu--submenus {
  display: block;
  z-index: $menu-z-index + 1;
}

// when a menu or its submenus has focus, it's background should be changed
.reactAppMenubar--menu:focus-within > .reactAppMenubar--menu--labelContainer {
  background: var(#{$prefix}-color-bg-focus, #{$menu-background-focus});
}

// Gray out disabled items
// not setting pointer-event: none so that focus is not lost when clicking a disabled item
.reactAppMenubar--menu-isDisabled > .reactAppMenubar--menu--labelContainer {
  opacity: .5;
}

//----------------- menu labels ------------------------------------------------
.reactAppMenubar--menu--labelContainer {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  cursor: default;
  padding: 4px 6px;
  text-align: left;
}

.reactAppMenubar--menu:not(.reactAppMenubar--menu-root) > .reactAppMenubar--menu--labelContainer {
  min-width: var(#{$prefix}-minwidth, #{$menu-minWidth});
  height: var(#{$prefix}-height-label-submenu);
}

.reactAppMenubar--menu.reactAppMenubar--menu-root > .reactAppMenubar--menu--labelContainer {
  height: var(#{$prefix}-height-label-root);
}

.reactAppMenubar--menu--icon {
  display: flex;
  align-items: center;
  height: 16px;
  width: 16px;
}

.reactAppMenubar--menu--icon-root {
  height: 12px;
  width: 12px;
  margin-right: 4px;
}

.reactAppMenubar--menu--icon-left {
  margin-right: 4px;
}

.reactAppMenubar--menu--icon-right {
  margin-left: 4px;
}


.reactAppMenubar--menu--label {
  flex-grow: 1;
}

.reactAppMenubar--menu:not(.reactAppMenubar--menu-root) > .reactAppMenubar--menu--labelContainer > .reactAppMenubar--menu--label {
  //margin-left: 10px;
  margin-right: 20px;
}

.reactAppMenubar--menu--label-em {
  text-decoration: underline;
}

.reactAppMenubar--menu--hotKeys {
  margin-left: 4px;
  font-size: .8em;
  margin-right: 4px;
  font-style: oblique;
}

.reactAppMenubar--menu--hotKeys-invisible {
  opacity: 0 !important;
}

@import "react-app-menu-ie-polyfill";
